.simple-alert {
    position: absolute;
    top: rem(12px);
    left: 50%;
    max-width: map-get($container-max-widths, xs);
    width: calc(100% - (#{rem(12px)} * 2));
    z-index: 100;
    padding: $alert-padding-y $alert-padding-x;
    visibility: hidden;
    opacity: 0;
    font-size: rem(15px);
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $alert-box-shadow;
    transform: translateX(-50%);
    transition: $alert-transition;
    transition-property: visibility, opacity;

    @include respond-above(sm) {
        max-width: rem(480px);
    }

    @include respond-above(md) {
        max-width: rem(512px);
    }

    @include respond-above(lg) {
        max-width: none;
        width: auto;
    }

    &--form {
        &:not(.simple-alert--mail_sent) {
            background-color: $warning;
        }

        &.simple-alert--mail_sent {
            color: $white;
            background-color: $success;
        }
    }

    &.is-visible {
        visibility: visible;
        opacity: 1;
    }
}
