.btn {
    width: 100%;
    padding: $btn-padding-y $btn-padding-x;
    text-decoration: none;
    font: $btn-font-weight $btn-font-size/$btn-line-height $btn-font-family;
    color: $white;
    background-color: $blue;
    border: none;
    border-radius: $btn-border-radius;
    transition: $btn-transition;
    transition-property: background-color, box-shadow;

    @include respond-above(xs) {
        width: auto;
    }

    &:hover {
        &:not(:disabled) {
            background-color: darken($blue, 5%);
        }

        .wpcf7 &:disabled {
            cursor: default;
        }
    }

    &:focus {
        box-shadow: 0 0 rem(8px) rem(2px) rgba(0, 0, 0, 0.2);
        outline: none;
    }
}
