.form {
    * + & {
        margin-top: rem(30px);

        @include respond-above(md) {
            margin-top: rem(40px);
        }
    }

    &--contact {
        max-width: rem(640px);

        @include respond-above(xl) {
            max-width: rem(800px);
        }

        @include respond-above(xxl) {
            max-width: rem(880px);
        }
    }

    &__group {
        margin-top: rem(25px);

        @include respond-above(md) {
            margin-top: rem(35px);
        }

        &:first-child {
            margin-top: 0;
        }

        &--ifl {
            .js & {
                margin-top: rem(20px);

                @include respond-above(md) {
                    margin-top: rem(30px);
                }

                &:first-child {
                    margin-top: rem(-5px);
                }
            }
        }

        &--mt-big {
            margin-top: rem(35px);

            @include respond-above(md) {
                margin-top: rem(45px);
            }

            .form__group--ifl + & {
                .js & {
                    margin-top: rem(30px);

                    @include respond-above(md) {
                        margin-top: rem(40px);
                    }
                }
            }
        }

        .form.invalid &.is-invalid {
            &::before {
                content: "";
                position: absolute;
                left: rem(-40px);
                width: rem(20px);
                height: rem(20px);
                background: center/cover no-repeat url("../images/compiled/teenyicons-icon-info.svg");

                @at-root .js .form.invalid .form__group--ifl.is-invalid::before {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .wpcf7 & {
            br {
                display: none;
            }
        }
    }

    &__input {
        &:focus {
            .form__group.is-valid & {
                border-color: $success;
            }
        }

        .form.invalid .form__group.is-invalid & {
            border-color: $warning;
        }
    }

    &__ajax-loader {
        font-size: rem(24px);

        .form__group.field--inline & {
            flex-shrink: 0;
        }
    }
}
