.form {
    * + & {
        margin-top: rem(30px);

        @include respond-above(md) {
            margin-top: rem(40px);
        }
    }

    &--contact {
        max-width: rem(640px);

        @include respond-above(xl) {
            max-width: rem(800px);
        }

        @include respond-above(xxl) {
            max-width: rem(880px);
        }
    }

    &__group {
        margin-top: rem(25px);

        @include respond-above(md) {
            margin-top: rem(35px);
        }

        // &--inline {
        //     display: flex;
        //     align-items: center;
        // }

        &:first-child {
            margin-top: 0;

            @at-root .js .form__group--ifl:first-child {
                margin-top: rem(-5px);
            }
        }

        .js &--ifl {
            // position: relative;
            margin-top: rem(20px);

            @include respond-above(md) {
                margin-top: rem(30px);
            }
        }

        .wpcf7 & {
            .no-js & {
                br {
                    display: none;
                }
            }
        }

        &--mt-big {
            margin-top: rem(35px);

            @include respond-above(md) {
                margin-top: rem(45px);
            }

            .js .form__group--ifl + & {
                margin-top: rem(30px);

                @include respond-above(md) {
                    margin-top: rem(40px);
                }
            }
        }

        .form.invalid &.is-invalid {
            &::before {
                content: "";
                position: absolute;
                left: rem(-40px);
                width: rem(20px);
                height: rem(20px);
                background: center/cover no-repeat url("../images/compiled/teenyicons-icon-info.svg");

                @at-root .js .form.invalid .form__group--ifl.is-invalid::before {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    // &__label {
    //     display: block;
    //     font-family: $headings-font-family;
    //     font-weight: $headings-font-weight;
    //
    //     &--inline {
    //         display: inline-block;
    //         margin-bottom: 0;
    //     }
    //
    //     .js .form__group--ifl & {
    //         position: absolute;
    //         top: rem(2px);
    //         left: rem(2px);
    //         right: rem(2px);
    //         margin-bottom: 0;
    //         padding: rem(13px) rem(12px) rem(5px);
    //         line-height: 1;
    //         font-size: rem(13px);
    //         font-weight: $font-weight-base;
    //         color: $blue;
    //         background-color: $off-white-dark;
    //         border-top-left-radius: rem(4px);
    //         border-top-right-radius: rem(4px);
    //
    //         @media (prefers-contrast: high) {
    //             background-color: $white;
    //         }
    //     }
    // }

    &__input {
        // width: 100%;
        // padding: rem(12px);
        // line-height: $line-height-base;
        // font-size: $font-size-base;
        // background-color: $off-white-dark;
        // border: rem(2px) solid $off-white-dark;
        // border-radius: rem(4px);
        // transition: border-color $transition-base;
        //
        // @media (prefers-contrast: high) {
        //     background-color: $white;
        //     border-color: $black;
        // }
        //
        // &--inline {
        //     display: inline-block;
        //     width: rem(64px);
        //
        //     .form__label--inline + & {
        //         margin-left: rem(8px);
        //     }
        // }
        //
        // &--email,
        // &--text {
        //     .js .form__group--ifl & {
        //         height: rem(69px); // Setting a fixed height is sadly the only way to guarantee consistent appearance across browsers.
        //     }
        // }
        //
        // &--textarea {
        //     display: block;
        // }
        //
        // .js .form__group--ifl & {
        //     padding-top: rem(31px);
        //     padding-bottom: rem(8px);
        // }

        .form.invalid .form__group.is-invalid & {
            // border-color: $danger;
            border-color: $warning;
        }

        &:focus {
            // border-color: $blue;
            // outline: none;

            .form__group.is-valid & {
                border-color: $success;
            }
        }

        // //
        // // Reset default :invalid styles.
        // // General (IE, maybe more)
        // &:invalid {
        //     outline: none;
        // }
        //
        // // Gecko
        // &:-moz-ui-invalid {
        //     box-shadow: none;
        // }
        //
        // //
        // // Autocomplete styling for WebKit-based browsers.
        // &:-webkit-autofill,
        // &:-internal-autofill-selected {
        //     box-shadow: 0 0 0 1000px $off-white-dark inset; // Equalling <input> height should suffice?
        //
        //     @media (prefers-contrast: high) {
        //         box-shadow: 0 0 0 1000px $white inset;
        //     }
        // }
        //
        // //
        // // Input placeholder styling
        // &::-webkit-input-placeholder {
        //     color: $gray;
        // }
        //
        // &::-moz-placeholder {
        //     color: $gray;
        // }
        //
        // &:-ms-input-placeholder {
        //     color: $gray;
        // }
        //
        // &::placeholder {
        //     color: $gray;
        // }
    }

    &__ajax-loader {
        font-size: rem(24px);

        // .form__group--inline & {
        .form__group.field--inline & {
            flex-shrink: 0;
        }
    }
}
