// https://projects.lukehaas.me/css-loaders/, SASSified.
.loader {
    position: relative;
    width: 11em;
    height: 11em;
    margin: rem(50px) auto; // Will most likely change
    text-indent: -9999em;
    font-size: rem(10px);
    background: $white; // Will most likely change
    background: linear-gradient(to right, $white 10%, rgba(255, 255, 255, 0) 42%); // Will most likely change
    border-radius: 50%;
    transform: translateZ(0);
    animation: spin 1.4s infinite linear;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
    }

    &::before {
        width: 50%;
        height: 50%;
        background: $white; // Will most likely change
        border-radius: 100% 0 0 0;
    }

    &::after {
        bottom: 0;
        right: 0;
        width: 75%;
        height: 75%;
        margin: auto; // May be unnecessary property
        background: #0dc5c1; // Will most likely change
        border-radius: 50%;
    }
}
